    .green2019 {
        color: #89937a!important;
    }
     .brown2019 {
         color: #362f2d!important;
     }
       .mx-400 {
           max-width: 600px;
       }
          .add_pad50 {
        padding-top: 24px;
    padding-left: 0px;
    text-transform: uppercase;
   }
   
       .backkk {
               background: #9f8d79;
       }
       .w600 {
               width: 600px;
       }
       .unplash {
           font-size: 18px;
    padding-left: 130px;
    padding-top: 40px;
       }
        .bgplash {
        background-image: url("");
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 270px;
    max-width: 690px;
    top: 30px;
    right: 0px;
    background-size: 100%;
            
        } 
                .bgplash-right {
        background-image: url("");
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 270px;
    max-width: 690px;
    top: 30px;
    right: 0px;
    background-size: 100%;
            
        }
    .bg_add_sert {
        background-image:url("");
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 600px;
    }
    .bg_text_sert {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 96%;
        
    }
    
  .bg-para {
      background-image: url("");
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 750px;
  }
  .max-h-300 {
          max-width: 300px;
  }
     .bg_ramka2 {
          background-image: url("");
          height: 320px;
          background-repeat: no-repeat;
              background-size: cover;
                  background-position: center;
     }
 
     #rightTop li {    
    list-style-type: none;
    float: left;
    font-weight: 100;
    background-repeat: no-repeat;
    height: 75px;
    padding-left: 80px;
    margin-bottom: 10px;
    font-size: 14px;
}
.lim1 {
    background-image: url("");
        padding-top: 36px;
}
.lim2 {
    background-image: url("");
        padding-top: 25px;
}
.lim3 {
    background-image: url("");
    padding-top: 25px;
}
.lim4 {
    background-image: url("");
    padding-top: 30px;
}
       
       
          .f301 {
       font-size:30px;
        color: #9f8d79;
        font-weight: 100;
        line-height: 28px;
 
   }
       
       .h3b {
             text-transform: uppercase;
    font-size: 22px;
       }
     
       
       .w430 {
    width: 430px;
    font-size: 14px;
 
}

  .f18 {
         font-size: 18px;
     }
     
    
           #customPrice {
      
            color: #8a6b5d;
            background-color: transparent;
            font-weight: 900;
             padding-left: 10px;
            border-radius: 10px;
            border: 3px solid;
           }
        @media(max-width: 1350px) {
                   .w430 {
                width: 330px;
            }
            
            
            
            .bg-para {
            
            background-size: 65% 90%;
            }
        }
        
 
        

        
        @media (max-width: 1200px) {
             .mx-400 {
           max-width: 420px;
       }
            .unplash {
    font-size: 18px;
    padding-left: 81px;
    padding-top: 31px;
}
            
              .mw90 {
                  width: 120px;
              }
            .bg-para {
                background-size: 50% 50%;
            }
            
            .w600 {
    width: 530px;
    }
    .bgplash {
        max-width: 490px;
    }
   .add_pad50 {
        padding-top: 57px;
    padding-left: 20px;
    font-size: 20px;
   }
            
        }
        
        
     .pro-cart-new_1 {
    background: #c7b270 none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 14px;
    text-transform: uppercase;
        width: 180px;
        height: 40px;
 
 }
 
 .pro-cart-new_1:hover {
    background: white;
    border: double 4px #8a6b5d;
    color: #8a6b5d;
    /* line-height: 10px; */
    padding: 1px 14px;
}    
              @media (max-width: 992px) {
        .pro-cart-new_1 {
 
    color: #fff;
    font-size: 10px;
 
    width: 145px;
    height: 40px; 
            
        }    
              
                  
              }
        @media (max-width: 768px) {
   
        .bg-para {
       background-size: 40% 30%;
    background-position: 100% 24%
            }
            
         .w600 {
               width: 695px;
       }    
        
           .f301 {
         font-size: 18px;
    line-height: 14px;
    margin-bottom: 13px;
           }    
        }

 


 @media (max-width: 414px) {

     
      .f18 {
      font-size: 14px;
      line-height: 18px;
     }
     
     .mw90 {
        max-width: 90px;
}
       .mobff {
               font-size: 22px;
    text-align: center;
    padding-top: 20px;
               }
.bg-para {
    background-size: 60% 70%;
    background-image: none;
 
}
.mob-bg2 {
    background:#f6f0eb;
}   

.bg_add_sert {
 
    background-position: 0px 30px;
 
    background-size: 83px;
}
           }
           
@media (max-width: 320px) {
.bg_add_sert {
    background-position: 0px 71px;
    background-size: 56px;
}  



.w430 {
    width: 258px;
}
    
}




#before-load {
  position: fixed; /*фиксированное положение блока*/
  left: 0; /*положение элемента слева*/
  top: 0; /*положение элемента сверху*/
  right: 0; /*положение элемента справа*/
  bottom: 0; /*положение элемента снизу*/
  background: #fff; /*цвет заднего фона блока*/
  z-index: 1001; /*располагаем его над всеми элементами на странице*/
}
#before-load img {
  font-size: 70px; /*размер иконки*/
  position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
  left: 48%; /*слева 50% от ширины родительского блока*/
  top: 50%; /*сверху 50% от высоты родительского блока*/
  animation: spin 1s linear infinite;
  animation-play-state: running;
  
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



.bg-image-slider-2 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 600px) {
    .bg-image-slider-2 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    #before-load img {
  font-size: 70px; /*размер иконки*/
  position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
  left: 45%; /*слева 50% от ширины родительского блока*/
  top: 50%; /*сверху 50% от высоты родительского блока*/
  animation: spin 1s linear infinite;
  animation-play-state: running;
  
}
 


.bg-image-slider-3 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

 
    .bg-image-slider-3 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
 

.bg-image-slider-4 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
 
    .bg-image-slider-4 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
 

.bg-image-slider-5 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
 
    .bg-image-slider-5 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
 
.bg-image-slider-6 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
 
.bg-image-slider-6 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
 
.bg-image-slider-9 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }

 
.bg-image-slider-9 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
 

    .bg-image-slider-10 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

 
    .bg-image-slider-10 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
 

    .bg-image-slider-11 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }


    .bg-image-slider-11 {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

 



@media (max-width: 991px) {
.fullscreen::before {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0!important;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
    
}

.gold-btn button {
    /* border-radius: 0px; */
    background: #c7b270!important;
    border-color: #bcbcbc;
    color: white;
}

.gold-btn button:hover {
    color: #ffffff;
    background-color: #bcbcbc;
    border-color: #c7b270;
}


.gold-btn a {
    border-radius: 0px;
    background: #c7b270;
    border-color: #bcbcbc;
    color: white;
}

.gold-btn a:hover {
    color: #ffffff;
    background-color: #bcbcbc;
    border-color: #c7b270;
}

.gold-btn2 {
    background: #c7b270 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    padding: 2px 20px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.gold-btn2:hover {
    background: #303030 none repeat scroll 0 0;
    color: #fff;
}

.grid-list-view .tabs-area li a.active {
    color: #c7b270!important;
}

.borderR-0 {
    border-radius: 0px!important;
}
.gold {
    color: #c7b270 !important;
}

.gold-bg {
    background: #c1b17e !important;
}
.old_price2 {
    font-style: italic;
    text-decoration: line-through;
    color:red;
}
.dashboard-content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.login-form .form-control:disabled    {
    background:#c7b270;
    opacity:1;
} 

.lh-16 {
    line-height: 17px;
}
.phoneSalon {
    font-size: 25px;
    color: #c1b17e; 
    float: left; 
    padding-right: 10px; 
}

.telColor {
    color: #c1b17e;
    font-weight: bold;
} 

.salonBorder {
        border: 1px solid #e0e0e0;
}

.salonBorder .blog-content {
    padding:10px;
}

.modal-content {
  border: 1px solid #c1b17e;
  border-radius: 0;  
}


.ph3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: capitalize;
}


.userevents-month-days input:checked + span {
    background: #000000 !important;
    color: white;
    transition: 0.2s;
    border-radius: 0px!important;
}


.userevents-month-days input:checked + span:hover {
    color: #c1b17e!important;
    transition: 0.2s;
}


.userevents-month-days li .enabled {
    background-color: #c1b17e!important;
    color: #272727;
    border-radius: 0px!important;
}

.userevents-month-days li .disabled {
    color: #A7A7A7;
    cursor: default;
    border-radius: 0px!important;
}

.userevents-times-hour label > span {
    display: block;
    position: relative;
    width: 100%;
    height: 26px;
    cursor: pointer;
    border-radius: 0px!important;
    background-color: #D1D1D1;
    line-height: 26px;
    text-align: center;
    margin: 5px;
}


.input-parent .form-control {
    background: #ebebeb none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 0;
}

.userevents-times-hour input:checked + span {
    background: #000000!important;
    color: white;
    transition: 0.2s;
}

.userevents-error strong {
    color: #c7b270 !important;
}

.userevents-times-hour input:checked + span:hover {
    color: #c1b17e !important;
    transition: 0.2s;
}

.userevents-order .error {
    border: 1px solid brown !important;
    background: #fad7d71c;
}



.boxBorder {
background: #000000;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
}
.op-7 {
        opacity: 0.7;
}
 .op-8 {
        opacity: 0.8;
}
  .op-9 {
        opacity: 0.9;
}

.arrow_d {
    font-size: 50px;
    color: #c7b270;
}

.arrow_c {
    font-size: 30px;
}


.logo a img {
       width: 210px;
    max-width: 413px!important;
}
 
 
 
@media only screen and (max-width: 413px) {
    .logo img {
        width: 150px!important;
        min-width: 150px!important;
    }
}


.slider-content h1{
  color:white!important;  
}

.t-t {
   text-transform: lowercase!important;
}
.t-t:first-letter {
    text-transform: uppercase!important;

}
.w-45 {
width :45px;
}



.ul-title {
    background: url("") no-repeat;
    padding-bottom: 7px;
    padding-left: 46px;
}

.input-child .enabled {
    padding-left:2px;
}
 
    input:checked + span {
        background: #c1b17e;
        color: white;
      
    }
 
 .bg_intro {
     background-color:#f1f1f1;
    color: #c7b270;
        padding: 10px;
    border: 1px solid;
 }
 
.bg_intro:hover {
    background-color: #343434;
    color: #ffffff;
    padding: 10px;
    border: 1px solid;
}
  
 
 
 .slider-content  h1.gold{
    color: #c7b270!important;
}

 .slider-content  h1.white{
    color: white!important;
}

 .slider-content  h3.white1{
    color: #eae0be !important;
}
 .slider-content  h3.gray{
    color: #787878 !important;
}
    
.border-cat {
    border: 1px solid #c7b270;
}

.pagetitle-cat {
    position: absolute;
    margin-top: -60px;
    background: #c7b270;
    color: #fdfdfd;
    font-size: 17px;
    padding: 12px;
   
}
    
.pro-border-style .single-banner:after, .pro-border-style .single-banner a:after {
    border-right: 1px solid #fff;
    bottom: 19px;
    content: "";
    left: 15px;
    opacity: 0;
    position: absolute;
    top: 100%;
    -webkit-transition: all 600ms ease 0s;
    transition: all 600ms ease 0s;
}

.gold-btn .btn-xs {
    padding: 3px 10px;
    border: 1px solid #c7b270;
    font-size: 14px;
    height: 35px;
    border-radius:2px;
}



@media only screen and (max-width: 413px) {
    .h24 {
          margin-right: -30px;
    }
}

@media (max-width: 375px) { 
    .thubnail-desc label, .social-sharing ul li label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
}
}

.mean-container a.meanmenu-reveal {
    background: transparent none repeat scroll 0 0;
    color: #323232;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1px;
    font-weight: 700;
    height: auto;
    line-height: 22px;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: -45px;
    width: 22px;
}

.sell18 {
    height: 90px;
    border: solid 1px #c1b17e;
 
    padding-top: 20px;
}


.upCase {
    text-transform: uppercase;
               
}

.mean-container .mean-nav ul li a {
    border-bottom: 1px solid #d8c99b;
    color: #222;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 12px 5%;
    text-transform: capitalize;
}
.white {
    color: #fff;
}
.white2 {
    color: rgb(149, 128, 62)!important;
}
 
.req {
    font-size: 14px;
}


.radiusBut {
        border-radius: 30px;
}

.ec-error {
    color: #c7b270;
    
}


 

  .titlePro {
    position: absolute;
    background: #c7b270;
    opacity: 0.91;
}
 .titlePro p { 
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 100;


 }
 
 /* 
 .gold-bg {
   background: #343434 none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 14px 30px;
    text-transform: uppercase;
 }
 
 .gold-bg {
   background: #343434 none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 14px 30px;
    text-transform: uppercase;
 }
 
 
 
 */

 
     .pro-cart-new {
    background: #8a6b5d none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    padding: 4px 14px;
    text-transform: uppercase;
    width: 129px;
    text-indent: 19px;
}
.posicon {
         position: absolute;
 transform-origin: 80% 20%;
    margin-left: -52px;
 }
.pro-cart-new:hover {
    background: white;
    border: double 4px #8a6b5d;
    color: #8a6b5d;
    /* line-height: 10px; */
    padding: 1px 14px;
}

.pro-cart-new span {
    font-size: 30px;
    float: left;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #89937a;
    border-color: #ffffff;
}

.btn-link {
    font-weight: 400;
    color: #8a6b5d;
    background-color: transparent;
    text-decoration: underline;
}
.btn-link:hover {
    color: #000000;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.shadow {
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    border: #c7b270 solid 1px; border-width: 1px;
}

   .btn-warning.focus, .btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 111, 9, 0.23);
}
.btn-warning {
    color: white;
    background-color: #919b83;
    border-color: #a1a9a1;
    
} 

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
   color: #ffffff;
    background-color: #000000;
    border-color: #abb7ac;
}

.btn-warning:hover {
    color: white;
    background-color: #a6ad9e;
    border-color: #8BC34A;
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 204, 193, 0.49);
}

.bg-para2 {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 780px;
	
}

@media (max-width: 768px){
.bg-para2 {
    background-size: 40% 30%;
    background-position: 100% 24%;
}
}
@media (max-width: 1200px){
.bg-para2 {
    background-size: 50% 50%;
}
}
@media (max-width: 1350px) {
.bg-para2 {
    background-size: 55% 50%;
}
}

.thubnail-desc2 label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
	font-family: Bodoni-Bold;
}

@media (min-width: 1200px) {
.container {
    max-width: 1240px!important;
}
}