@font-face {
  font-family: 'Bodoni-Bold';
  src: url("");
  src: url("Bodoni-Bold.eot") format('embedded-opentype'),
      url("Bodoni-Bold.woff2") format('woff2'),
      url("Bodoni-Bold.woff") format('woff'),
      url("Bodoni-Bold.ttf") format('truetype'),
      url("Bodoni-Bold.svg") format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("");
  src: url("GothamPro-1.eot") format('embedded-opentype'),
      url("GothamPro.woff2") format('woff2'),
      url("GothamPro-1.woff") format('woff'),
      url("GothamPro-1.ttf") format('truetype'),
      url("GothamPro.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("");
  src: url("GothamPro-Medium.eot") format('embedded-opentype'),
      url("GothamPro-Medium.woff2") format('woff2'),
      url("GothamPro-Medium.woff") format('woff'),
      url("GothamPro-Medium.ttf") format('truetype'),
      url("GothamPro-Medium.svg") format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("");
  src: url("GothamPro-Bold.eot") format('embedded-opentype'),
      url("GothamPro-Bold.woff2") format('woff2'),
      url("GothamPro-Bold.woff") format('woff'),
      url("GothamPro-Bold.ttf") format('truetype'),
      url("GothamPro-Bold.svg") format('svg');
  font-weight: bold;
  font-style: normal;
}






