*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'GothamPro';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

.main {
  position: relative;
}

.main > img {
  position: absolute;
  right: 0;
  bottom: -270px;
  z-index: 10;
}

.main-slider {
  position: relative;
} 

.main-slider .prev {
  position: absolute;
  bottom: 109px;
  left: 50%;
  -webkit-transform: translate(-560px, 0) scale(-1, 1);
  -moz-transform: translate(-560px, 0) scale(-1, 1);
  -ms-transform: translate(-560px, 0) scale(-1, 1);
  -o-transform: translate(-560px, 0) scale(-1, 1);
  transform: translate(-560px, 0) scale(-1, 1);
  width: 43px;
  height: 35px;
  background-image: url("arrow-slide.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.main-slider .next {
  position: absolute;
  bottom: 109px;
  left: 50%;
  -webkit-transform: translate(-494px, 0);
  -moz-transform: translate(-494px, 0);
  -ms-transform: translate(-494px, 0);
  -o-transform: translate(-494px, 0);
  transform: translate(-494px, 0);
  width: 43px;
  height: 35px;
  background-image: url("arrow-slide.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.main-slide {
  min-height: 700px;
  padding: 170px 0 170px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.main-slide-content {
  width: 930px;
  margin: auto;
  position: relative;
}

.main-slide-content:before {
  background-image: url("zigzag-white.svg");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -50px;
  width: 19px;
  height: 319px;
}

.main-slide-content span {
  display: block;
  max-width: 550px;
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  font-family: 'Bodoni-Bold';
  margin-bottom: 25px;
}

.main-slide-content p {
  margin: 0 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.main-slide-content a {
  color: #fff;
  font-size: 16px;
  font-family: 'GothamPro-Medium';
  line-height: 45px;
  padding: 0 130px 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #89937a;
  display: inline-block;
  letter-spacing: 0.040em;
  position: relative;
}

.main-slide-content a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 36px;
  height: 9px;
  background-image: url("arrow-white.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.main-slide-content a:hover {
  background-color: #c7b270;
}

.main-news {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0;
}

.main-news a {
  display: inline-block;
  vertical-align: top;
  width: 285px;
  padding: 25px 20px 10px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-news a:hover {
  background-color: rgb( 236, 233, 230 );
}

.main-news a span {
  font-size: 12px;
  color: #362f2d;
  text-transform: uppercase;
  display: block;
  font-family: 'GothamPro-Bold';
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-news a:hover span {
  color: #89937a;
}

.main-news a span:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #362f2d;
  display: block;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-news a:hover span:before {
  background-color: #89937a;
}

.main-news a p {
  margin: 0 0 8px 0;
  color: #898989;
  font-size: 12px;
  line-height: 18px;
}

.main-news a img {
  width: 36px;
  height: 9px;
}

.massages {
  padding: 50px 0 0;
  overflow: hidden;
}

.title {
  max-width: 740px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  position: relative;
}

.title:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 740px;
  height: 80px;
  background-image: url("zag.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
}

.title span {
  display: block;
  margin-bottom: 5px;
  font-size: 35px;
  color: #252525;
  font-family: 'Bodoni-Bold';
}

.title p {
  margin: 0;
  font-size: 20px;
  color: #acacac;
  line-height: 25px;
}

.massages-items {
  margin-top: 130px;
  background-image: url("massages-items-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  font-size: 0;
  text-align: center;
  padding-bottom: 40px;
}

.massages-item {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin: 0 10px;
  background-color: #fff;
  position: relative;
  padding: 275px 30px 20px;
  -webkit-transition: box-shadow 0.3s, transform 2s, opacity 2s;
  -moz-transition: box-shadow 0.3s, transform 2s, opacity 2s;
  -ms-transition: box-shadow 0.3s, transform 2s, opacity 2s;
  -o-transition: box-shadow 0.3s, transform 2s, opacity 2s;
  transition: box-shadow 0.3s, transform 1.5s, opacity 1.5s;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  opacity: 0;
}

.massages-item.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.massages-item:hover {
  -webkit-box-shadow: 0px 9px 24px 0px rgba( 68, 52, 46, 0.25 );
  -moz-box-shadow: 0px 9px 24px 0px rgba( 68, 52, 46, 0.25 );
  box-shadow: 0px 9px 24px 0px rgba( 68, 52, 46, 0.25 );
}

.massages-item:before {
  content: '';
  position: absolute;
  top: -28px;
  left: 0;
  width: 100%;
  height: 28px;
  background-color: #b14447;
}

.massages-item:nth-child(2):before {
  background-color: #bea570;
}

.massages-item:nth-child(3):before {
  background-color: #89937a;
}

.massages-item-title {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}

.massages-item:hover .massages-item-title span {
  color: #89937a;
  border-bottom: 1px solid #89937a;
}

.massages-item-title span {
  font-size: 20px;
  display: inline-block;
  line-height: 20px;
  color: #020202;
  font-family: 'Bodoni-Bold';
  border-bottom: 1px solid #020202;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.massages-item-info {
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #464942;
  text-align: left;
  position: relative;
}

.massages-item-info:before {
  background-image: url("zigzag-green.svg");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 100%;
}

.massages-item-info img {
  height: 21px;
  width: auto;
  display: block;
  margin-top: 15px;
}

.massages-item-pattern {
  position: absolute;
  top: -91px;
  right: 12px;
}

.massages-item:nth-child(2) .massages-item-pattern {
  top: -79px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.massages-item:nth-child(3) .massages-item-pattern {
  top: -24px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.massages-item-img {
  position: absolute;
  top: -50px;
  right: -105px;
}

.massages-item:nth-child(2) .massages-item-img {
  position: absolute;
  top: -68px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.massages-item:nth-child(3) .massages-item-img {
  right: auto;
  left: -41px;
  top: -76px;
}

.offers {
  padding: 50px 0 165px;
  position: relative;
  overflow: hidden;
}

.offers > img {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-390px, -50%);
  -moz-transform: translate(-390px, -50%);
  -ms-transform: translate(-390px, -50%);
  -o-transform: translate(-390px, -50%);
  transform: translate(-390px, -50%);
  width: 340px;
  height: auto;
}

.offers-items {
  font-size: 0;
  margin: 30px auto 0;
  width: 1120px;
}

.offers-item {
  display: inline-block;
  vertical-align: top;
  height: 330px;
  width: 25%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
}

.offers-item.show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.offers-item:before {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  content: '';
  display: block;
}

.offers-item:hover:before {
  opacity: 0.4;
}

.offers-item:after {
  background-image: url("white-lines.svg");
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 17px;
  height: 120px;
  content: '';
  position: absolute;
  display: block;
  left: 6px;
  bottom: 15px;
}

.offers-item span {
  position: absolute;
  bottom: 25px;
  padding: 0 10px 0 30px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Bodoni-Bold';
  letter-spacing: 0.020em;
}

.certificate {
  position: relative;
  padding: 222px 0;
  overflow: hidden;
  margin-top: -222px;
}

.certificate-container {
  background-image: url("bg-sert.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.certificate-img {
  position: absolute;
  top: -165px;
  right: 50%;
  margin-right: -95px;
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.certificate-img.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.certificate-pattern2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(610px, -50%);
  -moz-transform: translate(610px, -50%);
  -ms-transform: translate(610px, -50%);
  -o-transform: translate(610px, -50%);
  transform: translate(610px, -50%);
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 340px;
  height: auto;
}

.certificate-pattern2.show {
  opacity: 1;
  -webkit-transform: translate(560px, -50%);
  -moz-transform: translate(560px, -50%);
  -ms-transform: translate(560px, -50%);
  -o-transform: translate(560px, -50%);
  transform: translate(560px, -50%);
}

.certificate-pattern {
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.certificate-content {
  padding: 80px 0 160px 570px;
  margin: auto;
  width: 1120px;
  position: relative;
}

.certificate-content span {
  display: block;
  color: #362f2d;
  font-size: 35px;
  line-height: 45px;
  font-family: 'Bodoni-Bold';
  margin-bottom: 20px;
}

.certificate-content p {
  margin: 0 0 25px;
  color: #766756;
  font-size: 20px;
  line-height: 25px;
}

.certificate-content a {
  color: #fff;
  font-size: 16px;
  font-family: 'GothamPro-Medium';
  line-height: 45px;
  padding: 0 130px 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #89937a;
  display: inline-block;
  letter-spacing: 0.040em;
  position: relative;
}

.certificate-content a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 36px;
  height: 9px;
  background-image: url("arrow-white.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.certificate-content a:hover {
  background-color: #c7b270;
}

.main-slide-mob {
  display: none;
} 


.poly-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.bali-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 500px){
.bali-main {
    background-position: -150px center;
}
}

@media only screen and (max-width: 1000px){
.bali-main {
    position: relative;
    margin-bottom: 100px;
}
}

.programm-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 500px){
.programm-main {
    background-position: -150px center;
}
}

@media only screen and (max-width: 1000px){
.programm-main {
    position: relative;
    margin-bottom: 100px;
}
}

.sert-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 500px){
.sert-main {
    background-position: -150px center;
}
}

@media only screen and (max-width: 1000px){
.sert-main {
    position: relative;
    
}
}


.china-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 500px){
.china-main {
    background-position: -150px center;
}
}

@media only screen and (max-width: 1000px){
.china-main {
    position: relative;
    margin-bottom: 100px;
}
}

.thai-main {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.thai-main-content {
  overflow: hidden;
  width: 1110px;
  margin: auto;
  padding: 50px 0 360px;
}

.thai-main-content h1 {
  display: block;
  float: left;
  width: 50%;
  color: #fff;
  text-align: right;
  font-size: 110px;
  line-height: 80px;
  margin: 0;
  font-family: 'Bodoni-Bold';
  font-weight: normal;
  text-shadow: 0.469px 0.883px 0px rgb( 13, 44, 114 );
}

.thai-main-info {
  width: 50%;
  float: right;
  margin-top: 65px;
  padding: 40px 0 25px 110px;
  position: relative;
}

.thai-main-info:before {
  background-image: url("zigzag-white.svg");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 70px;
  width: 19px;
  height: 100%;
}

.thai-main-info p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  color: #13171b;
  font-family: 'GothamPro-Medium';
}

.thai-main-info a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgb( 199, 178, 112 );
  -webkit-box-shadow: 0px 12px 18px 0px rgb( 129, 171, 206 );
  -moz-box-shadow: 0px 12px 18px 0px rgb( 129, 171, 206 );
  box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.thai-main-info a:hover {
  background-color: #9f8d79;
}

.thai-massages {
  margin-top: 100px;
  overflow: hidden;
}

.thai-info {
  width: 1110px;
  margin: 20px auto 100px;
  position: relative;
  min-height: 500px;
}

.thai-info-bg {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-910px, 0);
  -moz-transform: translate(-910px, 0);
  -ms-transform: translate(-910px, 0);
  -o-transform: translate(-910px, 0);
  transform: translate(-910px, 0);
}

.thai-info-img {
  position: absolute;
  top: 0;
  right: -68px;
  width: 418px;
  height: auto;
}

.thai-info > p {
  width: calc(100% - 350px);
  padding: 50px 30px 0 0;
  line-height: 30px;
  color: #362f2d;
  position: relative;
}

.thai-info > p b {
  font-weight: normal;
  font-family: 'GothamPro-Bold';
  text-transform: uppercase;
  color: #9f8d79;
}

.thai-info > p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 24px;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
}

.thai-marker-text {
  width: 730px;
  font-size: 20px;
  line-height: 35px;
  color: #362f2d;
  font-family: 'GothamPro-Medium';
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.thai-marker-text p {
  margin: 0;
}

.thai-marker-text img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 980px;
  height: auto;
}

.thai-massages-items {
  width: 1110px;
  margin: 45px auto 100px;
}

.thai-massages-item {
  position: relative;
  margin-bottom: 30px;
}

.thai-massages-item > img {
  position: absolute;
  top: -73px;
  left: -80px;
  width: 160px;
  height: auto;
}

.thai-massages-item:nth-child(2n) > img {
  left: auto;
  right: -80px;
}

.thai-massages-item-info {
  position: relative;
  width: 350px;
  height: 315px;
  float: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.thai-massages-item:nth-child(2n) .thai-massages-item-info {
  float: right;
}

.thai-massages-item-info div {
  bottom: -18px;
  right: 0;
  background-color: #f2f0ed;
  position: absolute;
  padding: 10px 10px 10px 13px;
}

.thai-massages-item:nth-child(2n) .thai-massages-item-info div {
  right: auto;
  left: 0;
}

.thai-massages-item:nth-child(2n) .thai-massages-item-content > span:after {
  left: auto;
  right: 0;
}

.thai-massages-item-info div:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 100%;
  height: 3px;
  background-color: #d5cfc5;
}

.thai-massages-item-info div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 20px solid #fff; 
  border-left: 20px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.thai-massages-item-info img {
  height: 20px;
  width: auto;
  margin-bottom: 10px;
}

.thai-massages-item-price {
  padding-left: 25px;
  font-size: 17px;
  color: #252525;
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.thai-massages-item-price:after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #7a7978;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
}

.thai-massages-item-time {
  padding-left: 25px;
  font-size: 17px;
  color: #252525;
  display: block;
  position: relative;
}

.thai-massages-item-time:after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: -7px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.clear {
  clear: both;
  width: 100%;
  height: 0;
  font-size: 0;
}

.thai-massages-item-content {
  width: calc(100% - 380px);
  float: right;
  padding-top: 45px;
}

.thai-massages-item:nth-child(2n) .thai-massages-item-content {
  float: left;
  text-align: right;
}

.thai-massages-item-content > span {
  margin-bottom: 10px;
  display: block;
  position: relative;
  padding-bottom: 15px;
  font-size: 25px;
  text-transform: uppercase;
  color: #9f8d79;
  font-family: 'Bodoni-Bold';
}

.thai-massages-item-content > span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 2px;
  background-color: #9f8d79;
  display: block;
}

.thai-massages-item-content > p {
  margin: 0 0 20px;
  color: #362f2d;
  line-height: 30px;
}

.thai-massages-item-content > a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.thai-massages-item-content > a:hover {
  background-color: rgb( 199, 178, 112 );
}

.thai-massages-two-text {
  margin: 50px 0;
  width: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.thai-massages-two-text > img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.thai-massages-two-text > img:first-child {
  left: 0;
}

.thai-massages-two-text > img:last-child {
  right: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.thai-massages-two-text div {
  padding: 60px 0;
  width: 730px;
  margin: auto;
  position: relative;
  font-size: 18px;
  font-family: 'GothamPro-Medium';
  color: #362f2d;
  line-height: 30px;
  text-align: center;
}

.thai-massages-two-text div:before {
  content: '';
  display: block;
  left: 50%;
  top: 27px;
  width: 35px;
  height: 25px;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
}

.thai-massages-two-text div:after {
  content: '';
  display: block;
  left: 50%;
  bottom: 27px;
  width: 35px;
  height: 25px;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
}

.thai-massages-two-items {
  width: 1110px;
  margin: 0 auto;
  font-size: 0;
}

.thai-massages-two-item {
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 20px);
  margin-right: 30px;
}

.thai-massages-two-item:nth-child(3n) {
  margin-right: 0;
}

.thai-massages-two-item-info {
  width: 100%;
  position: relative;
  height: 315px;
  margin-bottom: 65px;
  padding: 50px 25px;
}

.thai-massages-two-item-info > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.thai-info-container {
  overflow: hidden;
}

.thai-massages-two-item-info > span {
  display: block;
  padding-bottom: 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Bodoni-Bold';
  position: relative;
}

.thai-massages-two-item-info > span:after {
  content: '';
  display: block;
  width: 160px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.thai-massages-two-item-info > div {
  bottom: -18px;
  left: 0;
  background-color: #f2f0ed;
  position: absolute;
  padding: 10px 10px 10px 13px;
}

.thai-massages-two-item-info > div:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 100%;
  height: 3px;
  background-color: #d5cfc5;
}

.thai-massages-two-item-info > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 20px solid #fff; 
  border-left: 20px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.thai-massages-two-item-info > div img {
  height: 20px;
  width: auto;
  margin-bottom: 10px;
}

.thai-massages-two-item > a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.thai-massages-two-item > a:hover {
  background-color: rgb( 199, 178, 112 );
}

.thai-massages-two {
  margin-bottom: 140px;
}

#map {
  width: 100%;
  height: 540px;
  margin-top: 120px;
}

.smol-main {
  position: relative;
}

.smol-main > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.smol-main-content {
  width: 50%;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: right;
}

.smol-main-content > img {
  position: absolute;
  right: 550px;
  top: 118px;
}

.smol-main-content > div {
  display: inline-block;
  width: 475px;
  padding: 55px 50px 50px 0;
  text-align: left;
  position: relative;
}

.smol-main-content > div span {
  display: block;
  margin-bottom: 20px;
  color: #9f8d79;
  font-size: 40px;
  font-family: 'Bodoni-Bold';
  line-height: 50px;
}

.smol-main-content > div p {
  margin: 0 0 30px;
  font-size: 18px;
  color: #000;
  line-height: 30px;
}

.smol-main-content > div a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.smol-main-content > div a:hover {
  background-color: rgb( 199, 178, 112 );
}

.smol-main-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.smol-container {
  position: relative;
  margin: 40px 0 100px;
}

.smol-container > img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.smol-info {
  width: 1110px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.smol-info-sliders {
  width: 50%;
  padding-right: 15px;
  float: left;
  position: relative;
}

.smol-info-sliders > img {
  position: absolute;
  left: calc(100% - 15px);
  bottom: 40px;
}

.smol-info-content {
  width: 50%;
  padding-left: 15px;
  padding-top: 40px;
  float: left;
  position: relative;
}

.smol-info-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 24px;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
}

.smol-info-content p {
  margin: 0 0 40px;
  color: #362f2d;
  line-height: 38px;
}

.smol-info-content a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.smol-info-content a:hover {
  background-color: rgb( 199, 178, 112 );
}

.smol-info-slider {
  position: relative;
}

.smol-info-slider .next,
.smol-info-slider .prev {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  top: 50%;
  width: 43px;
  height: 35px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.smol-info-slider .prev {
  left: 13px;
  -webkit-transform: translate(0, -50%) scale(-1, 1);
  -moz-transform: translate(0, -50%) scale(-1, 1);
  -ms-transform: translate(0, -50%) scale(-1, 1);
  -o-transform: translate(0, -50%) scale(-1, 1);
  transform: translate(0, -50%) scale(-1, 1);
}

.smol-info-slider .next {
  right: 13px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.smol-info-slider-item {
  height: 445px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.smol-info-slider-nav-item {
  padding-top: 6px;
  cursor: pointer;
  position: relative;
}

.smol-info-slider-nav-item:before {
  height: 6px;
  width: 100%;
  background-color: #b6a274;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  display: block;
}

.slick-current.smol-info-slider-nav-item:before {
  opacity: 1;
}

.smol-info-slider-nav-item div {
  background-repeat: no-repeat;
  -webkit-background-size: cover!important;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
} 

.smol-info-slider-nav-item div:after {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  content: '';
  display: block;
}

.smol-info-slider-nav-item div:after {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  content: '';
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.smol-info-slider-nav-item div:hover:after {
  opacity: 0.3;
}

.masters {
  overflow: hidden;
  margin-bottom: 60px;
}

.masters-items {
  width: 1110px;
  margin: 65px auto 0;
}

.masters-item {
  margin-bottom: 30px;
}

.masters-item-img {
  width: 445px;
  float: left;
  position: relative;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.masters-item-img img {
  position: absolute;
}

.masters-item:nth-child(1) .masters-item-img img {
  top: 40px;
  right: -55px;
}

.masters-item:nth-child(2n+1) .masters-item-img {
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}

.masters-item.show .masters-item-img {
  opacity: 1;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
 
.masters-item:nth-child(2n) .masters-item-img {
  -webkit-transform: translate(50px, 0);
  -moz-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  -o-transform: translate(50px, 0);
  transform: translate(50px, 0);
}    

.masters-item:nth-child(2) .masters-item-img img { 
  top: 20px;
  right: -198px;
}

.masters-item:nth-child(3) .masters-item-img img {
  top: 50px;
  right: -203px;
}

.masters-item-img a {
  position: absolute;
  top: 390px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  white-space: nowrap;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
  -webkit-box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
  -moz-box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
  box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
}

.masters-item-img a:hover {
  background-color: rgb( 199, 178, 112 );
}

.masters-item-content {
  float: right;
  width: calc(100% - 475px);
  position: relative;
}

.masters-item-info {
  margin-top: 15px;
  font-size: 15px;
  color: #362f2d;
  line-height: 25px;
}

.masters-item-name {
  display: block;
  margin-bottom: 15px;
  font-size: 25px;
  color: #903f39;
  font-family: 'Bodoni-Bold';
}

.masters-item-chars {
  width: 55%;
  font-size: 12px;
  color: #362f2d;
  line-height: 20px;
  font-family: 'GothamPro-Medium';
}

.masters-item-chars b {
  font-family: 'GothamPro-Bold';
  font-weight: normal;
  color: #9f8d79;
  text-transform: uppercase;
}

.masters-item-type {
  position: absolute;
  top: 35px;
  right: 0;
  width: 42%;
  font-size: 40px;
  color: #eeeae5;
  text-transform: uppercase;
  line-height: 50px;
  font-family: 'GothamPro-Bold';
  padding: 25px 0 30px 25px;
}

.masters-item-type img {
  width: 90px;
  height: auto;
  position: absolute;
  top: -40px;
  right: -35px;
}

.masters-item-type:before {
  background-image: url("");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: -10px;
  width: 19px;
  height: 100%;
}

.masters-item:nth-child(2) .masters-item-content {
  float: left;
} 

.masters-item:nth-child(2) .masters-item-img {
  float: right;
}

.smol-text {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.smol-text img {
  position: absolute;
}

.smol-text img:first-child {
  left: 50px;
  bottom: -160px;
}

.smol-text img:last-child {
  right: 0;
  bottom: 0;
}

.smol-text div {
  width: 980px;
  margin: auto;
  padding: 110px 0 140px;
  position: relative;
  color: #362f2d;
  line-height: 38px;
  text-align: center;
}

.smol-text div:before {
  content: '';
  position: absolute;
  width: 230px;
  height: 32px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  background-image: url("");
  top: 45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
}

.smol-text div:after {
  content: '';
  position: absolute;
  width: 230px;
  height: 32px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  background-image: url("");
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(1, -1);
  -moz-transform: translate(-50%, 0) scale(1, -1);
  -ms-transform: translate(-50%, 0) scale(1, -1);
  -o-transform: translate(-50%, 0) scale(1, -1);
  transform: translate(-50%, 0) scale(1, -1);
  display: block;
}

.services {
  overflow: hidden;
  padding-bottom: 30px;
}

.services-content {
  width: 1110px;
  margin: auto;
  padding: 30px 0 0;
}

.services-title {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  color: #362f2d;
  font-family: 'Bodoni-Bold';
}

.services-items {
  margin-bottom: 25px;
  font-size: 0;
  text-align: center;
}

.services-item {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

.services-item img {
  height: 140px;
  width: auto;
  display: block;
  margin: 0 auto 15px;
}

.services-item span {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  color: #b19b55;
  font-family: Bodoni-Bold;
}

.services-item p {
  margin: 0;
  color: #362f2d;
  font-size: 13px;
  line-height: 20px;
  font-family: 'GothamPro-Medium';
}

.services-main {
  position: relative;  
  min-height: 430px;
}

.services-main > img {
  position: absolute;
  left: -165px;
  top: 0;
}

.services-main-content {
  padding: 90px 190px 0 475px;
  position: relative;
}

.services-main-content span {
  display: block;
  margin-bottom: 25px;
  padding-left: 35px;
  font-size: 24px;
  text-transform: uppercase;
  color: #b19b55;
  font-family: 'GothamPro-Bold';
  line-height: 34px;
}
  
.services-main-content p {
  margin: 0;
  padding-left: 35px;
  position: relative;
  color: #362f2d;
  line-height: 30px;
  min-height: 100px;
}

.services-main-content p:before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  height: 110px;
  width: 24px;
  background-image: url("");
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.services-main-content img {
  position: absolute;
  right: -60px;
  top: 125px;
}

.popular {
  position: relative;
  padding-bottom: 35px;
  text-align: center;
}

.popular:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.popular-items {
  margin-top: 30px;
  font-size: 0;
  position: relative;
  margin-bottom: 40px;
}

.popular-item {
  display: inline-block;
  vertical-align: top;
  width: 255px;
  margin-right: 30px;
  background-color: #fff;
  text-align: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popular-item:hover {
  -webkit-box-shadow: 0px 12px 18px 0px rgba( 134, 114, 91, 0.5 );
  -moz-box-shadow: 0px 12px 18px 0px rgba( 134, 114, 91, 0.5 );
  box-shadow: 0px 12px 18px 0px rgba( 134, 114, 91, 0.5 );
}

.popular-item:nth-child(4n) {
  margin-right: 0;
}

.popular-item-img {
  height: 230px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.popular-item-img span {
  width: 102px;
  height: 36px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  line-height: 36px;
  padding: 0 5px 0 10px;
  color: #fff;
  font-size: 15px;
}

.popular-item > span {
  font-size: 20px;
  display: inline-block;
  line-height: 20px;
  color: #020202;
  font-family: 'Bodoni-Bold';
  border-bottom: 1px solid #020202;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 10px;
}

.popular-item:hover > span {
  color: #9f8d79;
  border-bottom: 1px solid #9f8d79;
}

.popular-item > p {
  padding-left: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #464942;
  text-align: left;
  position: relative;
  margin: 10px 10px 20px;
}

.popular-item > p:before {
  background-image: url("zigzag-green.svg");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 100%;
}

.popular > a {
  color: #fff;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 45px;
  padding: 0 90px 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #89937a;
  display: inline-block;
  letter-spacing: 0.040em;
  position: relative;
}

.popular > a:hover {
  background-color: #c7b270;
}

.popular > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 36px;
  height: 9px;
  background-image: url("arrow-white.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.tour-3d {
  margin: 50px auto 0;
  width: 1110px;
  text-align: center;
}

.tour-3d > img {
  max-width: 940px;
  width: calc(100% - 30px);
  height: auto;
  display: block;
  margin: 20px auto 40px;
}

.tour-3d > a {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #889279;
  font-size: 14px;
  font-family: 'GothamPro-Medium';
  line-height: 50px;
  padding: 0 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;  
  display: inline-block;
}

.tour-3d > a:hover {
  background-color: rgb( 199, 178, 112 );
}

.vip {
  width: 1140px;
  margin: 50px auto 0;
}

.vip-items {
  font-size: 0;
  margin-top: 45px;
  position: relative;
}

.vip-items .next,
.vip-items .prev {
  background-image: url("");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  top: 105px;
  width: 43px;
  height: 35px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.vip-items .prev {
  left: 30px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.vip-items .next {
  right: 30px;
}

.vip-item {
  margin: 0 15px;
  display: inline-block;
  vertical-align: top;
}

.vip-item-img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 445px;
  position: relative;
  margin-bottom: 10px;
}

.vip-item-img a {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  font-family: 'GothamPro-Bold';
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba( 199, 178, 112, 0.9 );
  font-family: 'GothamPro-Bold';
}

.vip-item-title {
  display: block;
  margin-bottom: 5px;
  color: #89937a;
  font-family: 'GothamPro-Bold';
  text-transform: uppercase;
  font-size: 20px;
}

.vip-item-metro {
  font-size: 13px;
  color: #bdb4aa;
  font-family: 'GothamPro-Medium';
  margin-bottom: 5px;
  display: block;
}

.vip-item-info {
  line-height: 32px;
  border-top: 1px solid #f0eeeb;
  border-bottom: 1px solid #f0eeeb;
  font-size: 0;
}

.vip-item-info div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  padding-left: 35px;
  font-size: 13px;
  color: #362f2d;
}

.vip-item-info div b {
  font-weight: normal;
  font-size: 16px;
}

.vip-item-info div img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 18px;
  width: auto;
}

.vip-item-content {
  margin-top: 5px;
  line-height: 25px;
  font-size: 15px;
  color: #bdb4aa;
  font-family: 'GothamPro-Bold';
}

.vip-item-content span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.vip-item-content div {
  float: right;
}

.vip-item-content img {
  height: 23px;
  width: auto;
  vertical-align: middle;
  display: inline-block;
}

.vip-item-content div img {
  margin-left: 5px;
}


.btn2 {
color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #889279;
    font-size: 14px;
    font-family: 'GothamPro-Medium';
    line-height: 50px;
    padding: 0 70px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
	border: medium none;
}

.btn2:hover {
background-color: #c7b270;	
}

.btn3 { 
    border: medium none;
    position: absolute;
    top: 390px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #889279;
    font-size: 14px;
    font-family: 'GothamPro-Medium';
    line-height: 50px;
    padding: 0 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    -webkit-box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
    -moz-box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
    box-shadow: 0px 12px 18px 0px rgb( 159, 141, 121 );
}

.btn3:hover {
background-color: #c7b270;	
}

.main-slide-content2 {
  width: 930px;
  margin: auto;
  position: relative;
}

.main-slide-content2:before {
  background-image: url("zigzag-white.svg");
  background-repeat: no-repeat repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -50px;
  width: 19px; 
  height: 160px;
}

.main-slide-content2 span {
  display: block;
  max-width: 550px;
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  font-family: 'Bodoni-Bold';
  margin-bottom: 25px;
}

.main-slide-content2 p {
  margin: 0 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.main-slide-content2 a {
  color: #fff;
  font-size: 16px;
  font-family: 'GothamPro-Medium';
  line-height: 45px;
  padding: 0 130px 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #89937a;
  display: inline-block;
  letter-spacing: 0.040em;
  position: relative;
}

.main-slide-content2 a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 36px;
  height: 9px;
  background-image: url("arrow-white.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.main-slide-content2 a:hover {
  background-color: #c7b270;
}

@media only screen and (max-width : 500px) {
  .main-slide-content2 p br {
    display: none;
  } 
  
  .main-slide-content2 span {
    font-size: 30px;
    line-height: 36px;
  }
  
  .main-slide-content2 {
    padding: 0 20px;
  }
}

@media only screen and (max-width : 1200px) {
  
  .main-slide-content2:before {
    display: none;
  }
  
  .main-slide-content2 {
    width: 100%;
    padding: 0 30px;
  }
}







/* PROMOTIONS */
.promotions{ width: 100%; float: left; padding: 20px 0; text-align: center;}
.promotions h5{font-family: 'Fjalla One', sans-serif; color: #999; position: relative; padding-bottom: 50px;}
.promotions h5:after{content:""; width: 38px; height: 26px; position: absolute; left: 50%; bottom: 0; background: url("") no-repeat; background-size: 38px auto; margin-left: -19px; opacity: 0.3;}
.promotions h2{ font-family: 'Playfair Display', serif; font-size: 90px; color: #9a7333;}
.promotions .lead{ font-size: 20px; font-weight: 300; padding: 0 20%; color: #999; font-family: 'Playfair Display', serif; line-height: 33px; margin-bottom: 100px;}
.promotions .promo-box{ width: 100%; float: left; margin-bottom: 60px; box-shadow: 5px 10px 50px rgba(0,0,0,0.1); background: #fff; overflow: hidden;}
.promotions .promo-box *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.promotions .promo-box .image{ width: 100%; float: left; overflow: hidden;}
.promotions .promo-box .image img{ width: 100%; transform: scale(1.05);}
.promotions .promo-box .content{ width: 100%; float: left; padding: 0px;}
.promotions .promo-box .content small{font-family: 'Bodoni-Bold', sans-serif; color: #999;}
.promotions .promo-box .content h4{ font-family: 'Bodoni-Bold', serif; font-size: 28px; padding-bottom: 40px; margin-bottom: 15px; position: relative;}
.promotions .promo-box .content h4:after{content:""; width: 36px; height: 36px; position: absolute; left: 50%; bottom: 0; background: url("") no-repeat; background-size: 36px auto; margin-left: -13px; opacity: 0.3;}
.promotions .promo-box .content p{opacity: 0.6; line-height: 22px;}
.promotions .promo-box .content span { display: inline-block; height: 35px; line-height: 40px; margin: 20px 0;border-radius: 0 0 10px 10px; background: #222; padding: 0 10px; color: #fff; font-size: 13px; font-family: 'Bodoni-Bold', sans-serif;} 
.promotions .promo-box:hover h4{color: #9a7333;}
.promotions .promo-box:hover img{transform: scale(1);}