@media only screen and (max-width : 1900px) {
  .smol-text img {
    display: none;
  }
  
  .smol-container > img {
    display: none;
  }
}

@media only screen and (max-width : 1800px) {
  .main > img {
    display: none;
  }
}

@media only screen and (max-width : 1500px) {
  .thai-massages-two-text > img {
    display: none;
  }
}

@media only screen and (max-width : 1200px) {
  .main-news {
    width: 100%;
    position: relative;
    text-align: center; 
  }
  
  .main-news a {
    text-align: left;
  }
  
  .main-slider .prev {
    left: 30px;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  
  .main-slider .next {
    left: 90px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  
  .main-slide-content:before {
    display: none;
  }
  
  .main-slide-content {
    width: 100%;
    padding: 0 30px;
  }
  
  .massages-item {
    width: 300px;
    padding: 275px 15px 20px;
    margin-bottom: 60px;
  }
  
  .massages-items {
    padding-bottom: 0;
  }
  
  .massages-item:nth-child(1) .massages-item-pattern {
    width: 200px;
  }
  
  .massages-item:nth-child(1) .massages-item-img {
    width: 640px;
  }
  
  .massages-item:nth-child(2) .massages-item-pattern {
    width: 250px;
  }
  
  .massages-item:nth-child(2) .massages-item-img {
    width: 360px;
  }
  
  .massages-item:nth-child(3) .massages-item-pattern {
    width: 270px;
  }
  
  .massages-item:nth-child(3) .massages-item-img {
    width: 570px;
  }
  
  .offers-items {
    width: 560px;
  }
  
  .offers-item {
    width: 50%;
  }
  
  .offers > img {
    display: none;
  }
  
  .offers {
    padding: 50px 0 100px;
  }
  
  .certificate-content {
    width: 100%;
    padding: 80px 0 160px 50%;
  }
  
  .certificate-pattern2 {
    display: none;
  }
  
  .certificate-img {
    width: 800px;
    top: -100px;
  }
  
  .certificate {
    padding: 100px 0 0;
    margin-top: -100px;
  }
  
  .thai-main-content {
    width: 100%;
    padding: 50px 10px 360px;
  }
  
  .thai-main-content h1 {
    font-size: 100px;
    line-height: 80px;
  }
  
  .thai-main-info {
    margin-top: 30px;
  }
  
  .thai-info-img {
    display: none;
  }
  
  .thai-info {
    min-height: auto;
    padding: 0 15px;
    width: 100%;
  }
  
  .thai-info-bg {
    display: none;
  }
  
  .thai-info > p {
    width: 100%;
    padding: 50px 0 0 0;
  }
  
  .thai-massages-item > img {
    display: none;
  }
  
  .thai-massages-items {
    width: 100%;
    padding: 0 10px;
  }
  
  #map {
    height: 300px;
  }
  
  .thai-massages-two-items {
    width: 100%;
    padding: 0 10px;
  }
  
  .tour-3d {
    width: 100%;
  }
  
  .smol-info-sliders {
    float: none;
    margin: 0 auto 50px;
    width: 500px;
    padding: 0;
  } 
  
  .smol-info {
    width: 100%;
    padding: 0 15px;
  }
  
  .smol-info-content {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  
  .smol-container {
    margin: 40px 0;
  }
  
  .masters-item-img {
    float: none !important;
    margin: 0 auto 30px;
    min-height: 450px;
  }
  
  .masters-item-content {
    float: none !important;
    margin: auto;
    width: 635px;
  }
  
  .masters-items {
    width: 100%;
  }
  
  .services-content {
    width: 100%;
    padding: 30px 15px 0;
  }
  
  .services-main > img {
    display: none;
  }
  
  .services-main-content img {
    display: none;
  }
  
  .services-main {
    min-height: auto;
  }
  
  .services-main-content {
    padding: 0;
  }
  
  .services-items {
    margin-bottom: 40px;
  }
  
  .popular-item {
    margin: 0 15px 30px !important;
  }
  
  .popular-items {
    max-width: 600px;
    width: 100%;
    margin: 30px auto 0px;
  }
  
  .vip {
    width: 100%;
  }
  
  .vip-items {
    margin: 45px auto 0;
    width: 760px;
  }
}

@media only screen and (max-width : 1100px) { 
  .thai-massages-two-items {
    text-align: center;  
  }
  
  .thai-massages-two-item {
    width: 350px;
    margin: 0 10px 30px !important;
    text-align: left;
  }
}

@media only screen and (max-width : 1000px) {
  .certificate-img {
    left: auto;
    right: -50px;
    top: -50px;
  }
  
  .certificate-content {
    padding: 80px 20px 160px;
  }
  
  .certificate-pattern {
    left: 50%;
  }
  
  .thai-main-content h1 {
    width: 100%;
    padding-right: 15%;
  }
  
  .thai-main {
    position: relative;
    margin-bottom: 100px;
  }
  
  .thai-main-info {
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 0 20px;
    width: 100%;
  }
  
  .thai-main-info:before {
    display: none;
  }
  
  .thai-main-info p {
    font-size: 15px;
    line-height: 25px;
  }
  
  .thai-marker-text img {
    display: none;
  }
  
  .thai-info {
    margin-bottom: 50px;
  }
  
  .thai-massages {
    margin-top: 50px;
  }
  
  #map {
    margin-top: 50px;
  }
  
  .thai-massages-two {
    margin-bottom: 20px;
  }
  
  .smol-main-img {
    display: none;
  }
  
  .smol-main > img {
    display: none;
  }
  
  .smol-main-content {
    width: 100%;
  }
  
  .smol-main-content > div {
    width: 100%;
    padding: 50px;
  }
  
  .smol-main-content > img {
    width: 200px;
    right: 0px;
    top: auto;
    bottom: -38px;
  }
  
  .smol-text div {
    padding: 110px 15px 140px;
    width: 100%;
  }
}

@media only screen and (max-width : 900px) {
  .thai-massages-items {
    margin-bottom: 50px;
  }
  
  .certificate-img {
    top: auto;
    bottom: -50px;
    right: 0;
    width: 500px;
  }
  
  .thai-main-content h1 {
    font-size: 55px;
    line-height: 45px;
  }
  
  .thai-main-content {
    padding: 50px 10px 250px;
  }
  
  .thai-massages-item-info {
    margin: auto;
    float: none !important;
    margin-bottom: 30px;
  }
  
  .thai-massages-item {
    margin-bottom: 60px;
  }
  
  .thai-massages-item:nth-child(2n) .thai-massages-item-content > span:after {
    left: 0;
    right: auto;
  }
  
  .thai-massages-item-info div {
    left: 0 !important;
    right: auto;
  }
  
  .thai-massages-item-info div:after {
    display: none;
  }
  
  .thai-massages-item-content {
    float: none;
    width: 100%;
    padding-top: 0;
    text-align: left !important;
  }
  
  .services-item {
    width: 290px;
    display: block;
    margin: 0 auto 30px;
  }
  
  .vip-item {
    margin: 0;
  }
  
  .vip-items {
    width: 350px;
  }
  
  .vip-items .next {
    right: 15px;
  }
  
  .vip-items .prev {
    left: 15px;
  }
}

@media only screen and (max-width : 800px) {
  .title {
    max-width: 100%;
    padding: 0 10px;
  }
  
  .title:after {
    display: none;
  }
  
  .title span {
    font-size: 30px;
    line-height: 34px;
  }
  
  .title p {
    font-size: 16px;
    line-height: 20px;
  }
  
  .thai-marker-text {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    padding: 0 10px;
  }
  
  .thai-marker-text p br {
    display: none;
  }
  
  .thai-massages-two-text div {
    width: 100%;
    padding: 60px 10px;
  }
  
  .smol-text div { 
    font-size: 13px;
    line-height: 20px;
    padding: 80px 15px;
  }
  
  .smol-text div:before {
    top: 30px;
  }
  
  .smol-text div:after {
    bottom: 30px;
  }
  
  .smol-info-content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width : 700px) {
  .main-slide {
    padding: 100px 0 200px;
    min-height: auto;
  }
  
  .main-slide-content span {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  
  .main-slide-content p {
    font-size: 16px;
    line-height: 20px;
  }
  
  .certificate-content {
    padding: 80px 20px 250px;
  }
  
  .thai-info > p {
    font-size: 13px;
    line-height: 25px;
  }
  
  .thai-massages-item-content > p {
    font-size: 12px;
    line-height: 20px;
  }
  
  .thai-massages-two-text div {
    font-size: 14px;
    line-height: 25px;
  }
  
  .masters-item-type {
    display: none;
  }
  
  .masters-item-chars {
    width: 100%;
  }
  
  .masters-item-content {
    width: 100%;
    padding: 0 15px;
  }
  
  .masters-item-info {
    font-size: 12px;
    line-height: 20px;
  }
  
  .services-title {
    font-size: 20px;
    line-height: 25px;
  }
  
  .services-title br {
    display: none;
  }
}

@media only screen and (max-width : 600px) {
  .title p br {
    display: none;
  }
  
  .offers-items { 
    width: 280px;
  }
  
  .offers-item {
    width: 100%;
  }
  
  .certificate-content span {
    font-size: 30px;
    line-height: 36px;
  }
  
  .certificate-content p {
    font-size: 16px;
    line-height: 20px;
  }
  
  .certificate-content p br {
    display: none;
  }
  
  .main-slide-mob {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  .main-slide {
    background-image: none;
  } 
  
  .smol-info-sliders {
    width: 100%;
  }
  
  .smol-info-slider-item {
    height: 400px;
  }
  
  .smol-info-slider-nav-item div {
    height: 130px;
  }
}

@media only screen and (max-width : 500px) {
  .main-slide-content p br {
    display: none;
  } 
  
  .main-slide-content span {
    font-size: 30px;
    line-height: 36px;
  }
  
  .main-slide-content {
    padding: 0 20px;
  }
  
  .main-slider .prev {
    left: 20px;
  }
  
  .main-slider .next {
    left: 80px;
  }
  
  .thai-main {
    background-position: -150px center;
  }
  
  .thai-main-info {
    bottom: -70px;
  }
  
  .smol-main-content > div {
    padding: 35px 15px;
  }
  
  .smol-main-content > div span {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  
  .smol-main-content > div p {
    font-size: 15px;
    line-height: 25px;
  }
  
  .masters-item-img {
    width: 320px;
  }
  
  .masters-item:nth-child(2) .masters-item-img img {
    right: -266px;
  }
  
  .masters-item:nth-child(3) .masters-item-img img {
    right: -274px;
  }
  
  .masters-item:nth-child(1) .masters-item-img img {
    right: -119px;
  }
  
  .services-main-content p:before {
    display: none;
  }
  
  .services-main-content p {
    padding-left: 0;
    font-size: 13px;
    line-height: 20px;
  }
  
  .services-main-content span {
    padding-left: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width : 400px) {
  .thai-main-info p br {
    display: none;
  }
  
  .thai-massages-item-info {
    width: 100%;
  }
  
  .thai-massages-two-item {
    width: 100%;
    margin: 0 0 30px !important;
  }
  
  .smol-info-slider-item {
    height: 300px;
  }
  
  .smol-info-slider-nav-item div {
    height: 100px;
  }
}

@media only screen and (max-width : 370px) {
  .smol-info-slider-item {
    height: 280px;
  }
  
  .smol-info-slider-nav-item div {
    height: 80px;
  }
  
  .vip-items {
    width: calc(100% - 10px);
  }
  
  .vip-item-info div {
    font-size: 12px;
  }
  
  .vip-item-content img {
    height: 20px;
  }
}

@media only screen and (max-width : 320px) {

}